<ng-container *transloco="let t; read: 'advancedColorPicker'">
  @if (isInitalized) {
    <form
      [formGroup]="colorForm"
      lcForm
      class="flex flex-row"
      [class]="{ 'gap-2': colorForm?.get('customColor').value }"
    >
      <p-select
        formControlName="customColor"
        [options]="[
          { value: false, label: t('globalColor') },
          { value: true, label: t('customColor') },
        ]"
        optionLabel="label"
        optionValue="value"
        lcFormControl
        styleClass="w-full"
      />
      @if (colorForm?.get("customColor").value) {
        <ngx-colors
          ngx-colors-trigger
          class="flex justify-content-center align-items-center"
          [acceptLabel]="t('accept')"
          [cancelLabel]="t('cancel')"
          formControlName="color"
          [palette]="palette"
        ></ngx-colors>
      }
    </form>
  }
</ng-container>
