<ng-container *transloco="let t; read: 'advancedColorPicker'">
  <form
    *ngIf="isInitalized"
    [formGroup]="colorForm"
    lcForm
    class="flex flex-row"
    [class]="{ 'gap-2': colorForm?.get('customColor').value }"
  >
    <p-select
      formControlName="customColor"
      [options]="[
          { value: false, label: t('globalColor') },
          { value: true, label: t('customColor') },
        ]"
      optionLabel="label"
      optionValue="value"
      lcFormControl
      styleClass="w-full"
    />
    <ngx-colors ngx-colors-trigger
                class="flex justify-content-center align-items-center"
                *ngIf="colorForm?.get('customColor').value"
                [acceptLabel]="t('accept')"
                [cancelLabel]="t('cancel')"
                formControlName="color"
                [palette]="palette"></ngx-colors>
  </form>
</ng-container>
