<ng-container *transloco="let t; read: 'scale.scaleForm'">
  <div class="content">
    <p-card header="{{ t('editScale') }}">
      <form [formGroup]="scaleForm">
        <p-card>
          <ng-template pTemplate="title">
            <ng-container *ngIf="editMode">{{ scale?.lineType | transloco }} {{ scale?.name }}</ng-container>
            <ng-container *ngIf="!editMode">{{ t('createTitle') }}</ng-container>
          </ng-template>
          <div class="grid grid-nogutter">
            <ng-container *ngIf="!editMode">
              <div class="col-12 flex gap-4 justify-content-center mb-2">
                <label for="linetype">
                  {{ t('lineTypeLabel') }}
                </label>
                <p-dropdown
                  id="linetype"
                  formControlName="lineType"
                  [options]="[
                    {name: t('BOULDER'), value: LineType.BOULDER},
                    {name: t('SPORT'), value: LineType.SPORT},
                    {name: t('TRAD'), value: LineType.TRAD},
                  ]"
                  optionLabel="name"
                />
              </div>
              <div class="col-12 flex gap-4 justify-content-center mb-2">
                <label for="name">
                  {{ t('nameInputLabel') }}
                </label>
                <input
                  type="text"
                  pInputText
                  id="name"
                  formControlName="name"
                />
              </div>
            </ng-container>
            <div class="col-12" formArrayName="grades" *ngFor="let grade of gradeControls().controls; let i = index">
              <div [formGroupName]="i" class="flex gap-4 justify-content-center mb-2">
                <ng-container *ngIf="grade.get('value').value <= 0">
                  <div>
                    <label>
                      {{ t('gradeNameLabel') }}
                      <input type="text" pInputText disabled value="{{ grade.get('name').value | translateSpecialGrades }}" />
                    </label>
                  </div>
                  <div>
                    <label>
                      {{ t('gradeValueLabel') }}
                      <input type="text" pInputText disabled value="{{ grade.get('value').value | translateSpecialGrades }}" />
                    </label>
                  </div>
                  <p-button icon="pi pi-trash" styleClass="p-button-danger" disabled />
                </ng-container>
                <ng-container *ngIf="grade.get('value').value > 0">
                  <div>
                    <label>
                      {{ t('gradeNameLabel') }}
                      <input type="text" pInputText formControlName="name" />
                    </label>
                  </div>
                  <div>
                    <label>
                      {{ t('gradeValueLabel') }}
                      <p-inputNumber formControlName="value" [min]="1" />
                    </label>
                  </div>
                  <p-button icon="pi pi-trash" styleClass="p-button-danger" (click)="deleteValue(i)" />
                </ng-container>
              </div>
            </div>
          </div>
        </p-card>
        <p-toolbar>
          <div class="p-toolbar-group-start">
            <p-button
              label="{{ t('addGrade') }}"
              (click)="addGrade()"
              icon="pi pi-plus-circle"
              class="responsive-button"
              [loading]="loadingState === LoadingState.LOADING"
            />
            <p-button
              label="{{ t('reorderGrades') }}"
              (click)="reorderByValue()"
              icon="pi pi-sort-amount-down-alt"
              class="responsive-button ml-2"
              [loading]="loadingState === LoadingState.LOADING"
            />
          </div>
          <div class="p-toolbar-group-end">
            <p-button
              label="{{ t('saveScale') }}"
              (click)="saveScale()"
              icon="pi pi-save"
              class="responsive-button"
              [loading]="loadingState === LoadingState.LOADING"
            />
            <p-button
              label="{{ t('deleteScale') }}"
              (click)="confirmDeleteScale($event)"
              icon="pi pi-trash"
              styleClass="p-button-danger"
              class="responsive-button ml-2"
              [loading]="loadingState === LoadingState.LOADING"
            />
            <p-button
              label="{{ t('cancel') }}"
              (click)="router.navigate(['/scales'])"
              icon="pi pi-ban"
              severity="secondary"
              class="responsive-button ml-2"
            />
            <p-confirmPopup></p-confirmPopup>
          </div>
        </p-toolbar>
      </form>
    </p-card>
  </div>
</ng-container>
