<ng-container *transloco="let t">
  <section class="rock-explorer-comments">
    @if (showHeading) {
      <h3>{{ t("rockExplorer.comments") }}</h3>
    }
    <lc-comment-editor
      *isMember="true"
      (created)="onCommentCreated($event)"
    ></lc-comment-editor>
    <div class="rock-explorer-comments__list">
      @for (comment of comments; track comment.id) {
        <lc-comment [comment]="comment"></lc-comment>
      }
    </div>
    @if (loading === loadingStates.LOADING) {
      <lc-comments-skeleton></lc-comments-skeleton>
    }
    @if (hasNextPage && loading !== loadingStates.LOADING) {
      <p-button
        [label]="t('rockExplorer.loadMore')"
        size="small"
        [text]="true"
        (onClick)="loadNextPage()"
      />
    }
    @if (loading !== loadingStates.LOADING && comments.length === 0) {
      <p-message severity="info" icon="pi pi-info-circle">{{
        t("rockExplorer.noComments")
      }}</p-message>
    }
  </section>
</ng-container>
