.level-total {
  background-color: var(--gray-500) !important;
}

.level-1 {
  background-color: var(--yellow-500) !important;
}

.level-2 {
  background-color: var(--blue-500) !important;
}

.level-3 {
  background-color: var(--red-500) !important;
}

.level-4 {
  background-color: var(--gray-900) !important;
}

.level-5 {
  background-color: var(--gray-500) !important;
}

.neutral-badge{
  background-color: var(--gray-50) !important;
  color: #000 !important;
  margin-right: .25rem;
}
