<ng-container *transloco="let t; read: 'line.lineBoolPropList'">
  <span
    ><strong>{{ line.startingPosition | transloco }}</strong></span
    >
    @if (line.eliminate) {
      <span>{{ t("eliminate") }}</span>
    }
    @if (line.traverse) {
      <span>{{ t("traverse") }}</span>
    }
    @if (line.highball) {
      <span>{{ t("highball") }}</span>
    }
    @if (line.lowball) {
      <span>{{ t("lowball") }}</span>
    }
    @if (line.morpho) {
      <span>{{ t("morpho") }}</span>
    }
    @if (line.noTopout) {
      <span>{{ t("noTopout") }}</span>
    }
    @if (line.badDropzone) {
      <span>{{ t("badDropzone") }}</span>
    }
    @if (line.childFriendly) {
      <span>{{ t("childFriendly") }}</span>
    }

    @if (line.roof) {
      <span>{{ t("roof") }}</span>
    }
    @if (line.overhang) {
      <span>{{ t("overhang") }}</span>
    }
    @if (line.vertical) {
      <span>{{ t("vertical") }}</span>
    }
    @if (line.slab) {
      <span>{{ t("slab") }}</span>
    }

    @if (line.athletic) {
      <span>{{ t("athletic") }}</span>
    }
    @if (line.technical) {
      <span>{{ t("technical") }}</span>
    }
    @if (line.endurance) {
      <span>{{ t("endurance") }}</span>
    }
    @if (line.cruxy) {
      <span>{{ t("cruxy") }}</span>
    }
    @if (line.dyno) {
      <span>{{ t("dyno") }}</span>
    }

    @if (line.crack) {
      <span>{{ t("crack") }}</span>
    }
    @if (line.dihedral) {
      <span>{{ t("dihedral") }}</span>
    }
    @if (line.compression) {
      <span>{{ t("compression") }}</span>
    }
    @if (line.arete) {
      <span>{{ t("arete") }}</span>
    }
    @if (line.mantle) {
      <span>{{ t("mantle") }}</span>
    }

    @if (line.jugs) {
      <span>{{ t("jugs") }}</span>
    }
    @if (line.sloper) {
      <span>{{ t("sloper") }}</span>
    }
    @if (line.crimps) {
      <span>{{ t("crimps") }}</span>
    }
    @if (line.pockets) {
      <span>{{ t("pockets") }}</span>
    }
    @if (line.pinches) {
      <span>{{ t("pinches") }}</span>
    }
  </ng-container>
