body {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.main {
  flex: auto;
  align-items: stretch;
  display: flex;
}

.content{
  padding: 3rem 6rem;
  background-image: url("assets/topo.png");
  background-repeat: repeat;
  background-size: 50%;
  height: 100%;
}
