@use "app/styles/media-queries" as m;
@use "app/styles/auth-views";
@use "app/styles/forms";
@use "app/styles/grades";
@use "app/styles/data-view";
@use "app/styles/typography";
@use "app/styles/primeng-fixes";
@use "app/styles/primeng-mobile-optimisation";
@use "app/styles/main-views";
@use "app/styles/util";
@use "app/styles/confirm-dialog";

/* fallback */
@font-face {
  font-family: 'Material Symbols Rounded';
  src: url(assets/fonts/material-symbols.woff2) format('woff2');
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-symbols-rounded-filled {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body {
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  --ticked-bg-color: #eafeee;
  --ticked-color: var(--green-600);
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

.main {
  flex: auto;
  align-items: stretch;
  display: flex;

  > *:not(router-outlet) {
    width: 100%;
  }

}

.content {
  padding: 3rem 6rem;
  height: 100%;
  width: 100%;

  @include m.on-mobile {
    padding: 0 0;
  }

  .p-card-content {
    padding-bottom: 0;
  }

}

.p-confirm-popup {
  max-width: 500px;
}
