<ng-container *transloco="let t; read: 'comments'">
  @if (commentsContextService.object) {
    <div class="mt-2 mb-4 block">
      <lc-comment-editor
        *isLoggedIn="true"
        (created)="onCommentCreated($event)"
      ></lc-comment-editor>
    </div>
  }

  <div class="flex gap-3 flex-column mt-2">
    @for (comment of comments; track comment) {
      <lc-comment [comment]="comment"></lc-comment>
    }
  </div>
  @if (loadingFirstPage === loadingStates.LOADING) {
    <lc-comments-skeleton></lc-comments-skeleton>
  }
  @if (loadingAdditionalPage === loadingStates.LOADING) {
    <lc-comments-skeleton></lc-comments-skeleton>
  }
  @if (hasNextPage) {
    <div class="flex justify-content-center mt-5">
      <p-button
        label="{{ t('loadMore') }}"
        (scrolled)="loadNextPage()"
        (click)="loadNextPage()"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [loading]="loadingAdditionalPage === loadingStates.LOADING"
      ></p-button>
    </div>
  }
  @if (
    !(
      loadingAdditionalPage === loadingStates.LOADING ||
      loadingFirstPage === loadingStates.LOADING
    ) && comments.length === 0
  ) {
    <p-message severity="info" icon="pi pi-info-circle">
      {{ t("thisCommentFeedIsEmpty") }}
    </p-message>
  }
</ng-container>
