<ng-container *transloco="let t; read: 'users.list'">
  <div class="content">
    <p-dataView
      #dv
      [value]="filteredUsers"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template #emptymessage>
        <p-message severity="info" icon="pi pi-info-circle" class="m-4 block">{{
          searchQuery.trim()
            ? t("noUsersMatchSearchEmptyMessage")
            : t("noUsersFoundEmptyMessage")
        }}</p-message>
      </ng-template>
      <ng-template #header>
        <div class="flex flex-col sm:flex-row justify-between gap-2">
          <input
            type="search"
            pInputText
            [ngModel]="searchQuery"
            (ngModelChange)="onSearchChange($event)"
            [placeholder]="t('searchPlaceholder')"
            [disabled]="loading === loadingStates.LOADING"
            class="user-list-search"
            data-cy="user-list-search"
          />
          <p-select
            [options]="sortOptions"
            [(ngModel)]="sortKey"
            [disabled]="loading === loadingStates.LOADING"
            optionLabel="label"
            (onChange)="onSortChange($event)"
            styleClass="md:mb-0"
          >
            <ng-template #selectedItem>
              @if (sortKey) {
                <div class="flex items-center gap-2">
                  @if (sortKey.icon) {
                    <i [class]="sortKey.icon"></i>
                  }
                  <div>{{ sortKey.label }}</div>
                </div>
              }
            </ng-template>
            <ng-template let-option #item>
              <div class="flex items-center gap-2">
                @if (option.icon) {
                  <i [class]="option.icon"></i>
                }
                <div>{{ option.label }}</div>
              </div>
            </ng-template>
          </p-select>
        </div>
      </ng-template>
      <ng-template let-users #list>
        @if (loading === loadingStates.LOADING) {
          <lc-user-list-skeleton></lc-user-list-skeleton>
        }
        @if (loading !== loadingStates.LOADING) {
          <p-menu
            #userMenu
            [model]="userActionItems"
            [popup]="true"
            appendTo="body"
          ></p-menu>
          <div class="grid grid-cols-12">
            @for (user of users; track user.id; let first = $first) {
              <div
                class="col-span-12 user-list-row"
                [ngClass]="{ 'border-t border-surface': !first }"
                data-cy="user-list-item"
              >
                <a
                  class="user-list-row__main clickable-data-item"
                  [routerLink]="user.routerLink"
                >
                  <lc-user-avatar
                    [user]="user"
                    thumbnail="thumbnailS"
                    size="large"
                    styleClass="user-list-row__avatar"
                  />
                  <div class="user-list-row__identity">
                    <span
                      class="user-list-row__name text-surface-900 dark:text-surface-0"
                      >{{ user.fullname }}</span
                    >
                    <small class="user-list-row__email">{{ user.email }}</small>
                  </div>
                  <div class="user-list-row__meta">
                    @if (user.activated) {
                      <small>{{
                        t("userActivatedAt", {
                          activationTime: user.activatedAt | date: "datetime",
                        })
                      }}</small>
                    } @else {
                      <small>{{ t("userNotActivatedYet") }}</small>
                    }
                  </div>
                  <div class="user-list-row__role">
                    <lc-user-role-tag [user]="user" />
                  </div>
                </a>
                <div class="user-list-row__actions">
                  <p-button
                    icon="pi pi-ellipsis-v"
                    (click)="openUserActions($event, user)"
                    severity="secondary"
                    [rounded]="true"
                    [text]="true"
                    class="user-actions"
                    [disabled]="!isUserActionsEnabled(user)"
                    [attr.aria-label]="t('userActions')"
                  ></p-button>
                </div>
              </div>
            }
          </div>
        }
      </ng-template>
    </p-dataView>
  </div>

  <p-confirmDialog [style]="{ maxWidth: '800px' }"></p-confirmDialog>
</ng-container>
