:host{
  display: flex;
  align-items: center;

  .ticked{
    margin-right: .25rem;
    transform: translateX(-3px);
    background-color: var(--gray-500);
    border-radius: .25rem;
    padding: .1rem;
    color: white
  }

}
