<ng-container *transloco="let t; read: 'todos.priorityButton'">
  <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
  @if (todo.priority === priorities.MEDIUM) {
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text medium-priority"
      (click)="menu.toggle($event)"
      icon="pi pi-circle"
      [label]="t('mediumPriority')"
    ></p-button>
  }
  @if (todo.priority === priorities.LOW) {
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text low-priority"
      (click)="menu.toggle($event)"
      icon="pi pi-chevron-circle-down"
      [label]="t('lowPriority')"
    ></p-button>
  }
  @if (todo.priority === priorities.HIGH) {
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text high-priority"
      (click)="menu.toggle($event)"
      icon="pi pi-chevron-circle-up"
      [label]="t('highPriority')"
    ></p-button>
  }
</ng-container>
