<div class="blur-container">

  <div class="card login-card">

    <h3>Passwort vergessen?</h3>

    Kein Problem - wir senden Dir eine E-Mail zum zurücksetzen zu!

    <form [formGroup]="forgotPasswordForm" lcForm>

      <div class="card-container block" lcControlGroup>
        <input formControlName="email" pInputText placeholder="E-Mail" lcFormControl>
        <small class="p-error" *lcIfError="'required';controlName:'email'">Pflichtfeld</small>
      </div>

    </form>

    <p-button label="E-Mail zusenden" (click)="requestResetPasswordMail()"
              [loading]="(loadingState$ | async) === loadingStates.LOADING">
    </p-button>

  </div>

</div>
