<ng-container *transloco="let t; read: 'accountSettingsForm'">
  <form [formGroup]="accountSettingsForm" lcForm>
    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="language">{{ t("languageLabel") }}</label>
      </div>
      <lc-language-select
        id="language"
        formControlName="language"
        lcFormControl
      ></lc-language-select>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="color-scheme">{{ t("colorSchemeLabel") }}</label>
      </div>
      <select
        id="color-scheme"
        class="p-inputtext"
        formControlName="colorScheme"
      >
        <option value="system">{{ t("colorSchemeSystem") }}</option>
        <option value="light">{{ t("colorSchemeLight") }}</option>
        <option value="dark">{{ t("colorSchemeDark") }}</option>
      </select>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="language">{{ t("notificationsLabel") }}</label>
      </div>
      <div
        class="flex items-center justify-center sm:justify-start"
      >
        <div>
          <p-toggleswitch
            id="display-user-grades"
            class="mx-2 blue-green-switch"
            formControlName="commentReplyMailsEnabled"
            lcFormControl
          />
        </div>
        <div class="flex flex-col">
          <span>{{ t("commentReplyMailsEnabled") }}</span>
          <small class="text-muted-color">{{
            t("commentReplyMailsEnabledDescription")
          }}</small>
        </div>
      </div>
      <div
        class="flex items-center justify-center sm:justify-start"
      >
        <div>
          <p-toggleswitch
            id="reaction-notifications-enabled"
            class="mx-2 blue-green-switch"
            formControlName="reactionNotificationsEnabled"
            lcFormControl
          />
        </div>
        <div class="flex flex-col">
          <span>{{ t("reactionNotificationsEnabled") }}</span>
          <small class="text-muted-color">{{
            t("reactionNotificationsEnabledDescription")
          }}</small>
        </div>
      </div>
      <div
        class="flex items-center justify-center sm:justify-start"
      >
        <div>
          <p-toggleswitch
            id="fa-moderation-notifications-enabled"
            class="mx-2 blue-green-switch"
            formControlName="systemNotificationsEnabled"
            lcFormControl
          />
        </div>
        <div class="flex flex-col">
          <span>{{ t("systemNotificationsEnabled") }}</span>
          <small class="text-muted-color">{{
            t("systemNotificationsEnabledDescription")
          }}</small>
        </div>
      </div>
      <div
        *isModerator="true"
        class="flex items-center justify-center sm:justify-start"
      >
        <div>
          <p-toggleswitch
            id="moderator-task-mails-enabled"
            class="mx-2 blue-green-switch"
            formControlName="moderatorTaskNotificationsEnabled"
            lcFormControl
          />
        </div>
        <div class="flex flex-col">
          <span>{{ t("moderatorTaskNotificationsEnabled") }}</span>
          <small class="text-muted-color">{{
            t("moderatorTaskNotificationsEnabledDescription")
          }}</small>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="notification-digest-frequency">{{
          t("notificationDigestFrequencyLabel")
        }}</label>
      </div>
      <select
        id="notification-digest-frequency"
        class="p-inputtext"
        formControlName="notificationDigestFrequency"
      >
        <option value="daily">
          {{ t("notificationDigestFrequencyDaily") }}
        </option>
        <option value="weekly">
          {{ t("notificationDigestFrequencyWeekly") }}
        </option>
      </select>
    </div>
  </form>

  <div class="form-actions">
    <p-button
      label="{{ t('saveAccountSettingsButtonLabel') }}"
      (click)="saveAccountSettings()"
      [loading]="loadingState === loadingStates.LOADING"
    ></p-button>
  </div>
</ng-container>
