<ng-template #pageTitle>
  {{ line?.name }}
  <span class="grade-font">{{ line | lineGrade }}</span>
</ng-template>

<div class="content p-6">
  <div class="flex gap-1">
    @if (line?.closed) {
      <lc-closed-spot-tag
        spotType="line"
        [slug]="line.slug"
        [reasons]="line.closedReasons"
        [closureIsPermanent]="line.closureIsPermanent"
      ></lc-closed-spot-tag>
    }
    @if (line?.secret) {
      <lc-secret-spot-tag></lc-secret-spot-tag>
    }
  </div>

  <router-outlet name="lineContent"></router-outlet>
</div>
