lc-gallery-image {
  .speed-dial-container {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
  }

  .p-speeddial {
    position: absolute;
    top: 2px; // Button is disaligned for some reason
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  .p-speeddial-button {
    width: 1.5rem;
    height: 1.5rem;

    .p-button-icon {
      font-size: 0.75rem;
    }
  }

  .p-speeddial-action {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;

    .p-speeddial-action-icon {
      font-size: 0.75rem;
    }
  }

  .tags {
    display: flex;
    justify-content: end;
    gap: 0.25rem;
  }

  .gallery-image-card {
    overflow: hidden;

    .p-card-body {
      padding: 0.5rem !important;
    }

    .p-card-header {
      img {
        width: auto;
      }

      .image-container {
        height: 300px;
        width: 100%;
        background-size: cover;
        background-position: center;
        display: flex;

        p-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          display: flex;
          justify-content: center;
        }
      }
    }

    .p-card-header {
      display: flex;
      justify-content: center;
      background-color: #f4f4f4;
    }
  }
}
