<ng-container *transloco="let t; read: 'gallery.galleryImage'">
  <p-card styleClass="gallery-image-card">
    <ng-template #header>
      <div class="image-container">
        <p-image
          [src]="image.image.thumbnailM"
          [preview]="true"
          [previewImageSrcSet]="image.image.srcSet"
        >
          <ng-template #indicator>
            <i class="pi pi-eye"></i>
          </ng-template>
        </p-image>
      </div>
    </ng-template>
    <div class="tags">
      <div class="info-icon">
        <i
          class="pi pi-info-circle"
          (click)="infoIcon.focus()"
          #infoIcon
          tabindex="0"
          tooltipEvent="focus"
          pTooltip="{{
            t('createdBy', { createdBy: image.createdBy.fullname })
          }}"
          tooltipPosition="top"
        ></i>
      </div>
      @for (tag of image.tags; track tag) {
        <lc-tag [tag]="tag"></lc-tag>
      }
      @if (image.createdBy.id === loggedInUser?.id || loggedInUser?.moderator) {
        <div class="speed-dial-container">
          <p-speed-dial
            [model]="speedDialItems"
            direction="up"
            showIcon="pi pi-bars"
            hideIcon="pi pi-times"
          />
        </div>
      }
    </div>
  </p-card>
</ng-container>
