lc-gallery-image {
  .speed-dial-container {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
  }

  .p-speeddial {
    position: absolute;
    top: 2px; // Button is disaligned for some reason
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
  }

  .p-speeddial-button {
    width: 1.5rem;
    height: 1.5rem;

    .p-button-icon {
      font-size: 0.75rem;
    }
  }

  .p-speeddial-action {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.75rem;

    .p-speeddial-action-icon {
      font-size: 0.75rem;
    }
  }

  .tags {
    flex-wrap: wrap;
    display: flex;
    justify-content: end;
    gap: 0.25rem;

    lc-tag .p-tag-value {
      display: block;
      max-width: 150px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .gallery-image-card {
    overflow: hidden;

    .p-card-body {
      padding: 0.5rem !important;
    }

    .p-card-header {
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-position: center;
      }

      .image-container {
        height: 300px;
        width: 100%;
        display: flex;

        p-image {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;

          .p-image {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .p-card-header {
      display: flex;
      justify-content: center;
      background-color: #f4f4f4;
    }
  }

  // Revert PrimeNG styles for small screens that remove the shadow and border-radius
  .p-card {
    box-shadow:
      0 2px 1px -1px rgba(0, 0, 0, 0.2),
      0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 6px !important;
  }
}
