apiVersion: apps/v1
kind: Deployment
metadata:
  name: localcrag-client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: ghcr.io/localcrag/localcrag-client:latest
          imagePullPolicy: Always
          resources:
            {{- toYaml .Values.client.resources | nindent 12 }}
          ports:
            - name: http
              containerPort: 4200
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 3

---
apiVersion: v1
kind: Service
metadata:
  name: localcrag-client
spec:
  type: ClusterIP
  selector:
    app: client
  ports:
    - name: http
      port: 4200
      targetPort: http
