<ng-container *transloco="let t; read: 'instanceSettings.instanceSettingsForm'">
  <div class="content p-6">
    <form [formGroup]="instanceSettingsForm" lcForm>
      <p-tabs [(value)]="activeTab">
        <p-tablist>
          <p-tab value="general">{{ t("commonSettings") }}</p-tab>
          <p-tab value="appearance">{{ t("imagesSettings") }}</p-tab>
          <p-tab value="analytics">{{ t("matomoSettings") }}</p-tab>
          <p-tab value="maps">{{ t("mapSettings") }}</p-tab>
        </p-tablist>
      </p-tabs>

      @if (activeTab === "general") {
        <lc-instance-settings-general-tab
          [group]="generalGroup()"
          [faDefaultFormats]="faDefaultFormats"
          [startingPositionsOptions]="startingPositionsOptions"
          [rankingPastWeeksOptions]="rankingPastWeeksOptions"
          [timezoneOptions]="timezoneOptions"
          [loading]="loadingState === loadingStates.LOADING"
          [save]="saveGeneralTab"
        />
      }

      @if (activeTab === "appearance") {
        <lc-instance-settings-appearance-tab
          [group]="appearanceGroup()"
          [loading]="loadingState === loadingStates.LOADING"
          [save]="saveAppearanceTab"
        />
      }

      @if (activeTab === "analytics") {
        <lc-instance-settings-analytics-tab
          [group]="analyticsGroup()"
          [loading]="loadingState === loadingStates.LOADING"
          [save]="saveAnalyticsTab"
        />
      }

      @if (activeTab === "maps") {
        <lc-instance-settings-maps-tab
          [group]="mapsGroup()"
          [loadingState]="loadingState"
          [loadingStates]="loadingStates"
          [sourceKindOptions]="sourceKindOptions"
          [overlayTypeOptions]="overlayTypeOptions"
          [paintModeOptions]="paintModeOptions"
          [tileSizeOptions]="tileSizeOptions"
          [tileJsonMetaByOverlay]="tileJsonMetaByOverlay"
          [overlaySelectOptions]="overlaySelectOptions.bind(this)"
          [mapBaseLayersControls]="mapBaseLayersControls.bind(this)"
          [mapOverlaysControls]="mapOverlaysControls.bind(this)"
          [vectorLayersControls]="vectorLayersControls.bind(this)"
          [categoricalStopsControls]="categoricalStopsControls.bind(this)"
          [addBaseLayer]="addBaseLayer.bind(this)"
          [removeBaseLayer]="removeBaseLayer.bind(this)"
          [moveBaseLayer]="moveBaseLayer.bind(this)"
          [onBaseLayerRoleDefaultChange]="
            onBaseLayerRoleDefaultChange.bind(this)
          "
          [onOverlayTypeChange]="onOverlayTypeChange.bind(this)"
          [addVectorLayer]="addVectorLayer.bind(this)"
          [removeVectorLayer]="removeVectorLayer.bind(this)"
          [moveVectorLayer]="moveVectorLayer.bind(this)"
          [addMapLayer]="addMapLayer.bind(this)"
          [removeMapLayer]="removeMapLayer.bind(this)"
          [moveMapLayer]="moveMapLayer.bind(this)"
          [onVectorPaintModeChange]="onVectorPaintModeChange.bind(this)"
          [tileJsonAttributeOptions]="tileJsonAttributeOptions.bind(this)"
          [loadTileJsonAttributes]="loadTileJsonAttributes.bind(this)"
          [seedCategoricalStopsFromTileJson]="
            seedCategoricalStopsFromTileJson.bind(this)
          "
          [addCategoricalStop]="addCategoricalStop.bind(this)"
          [removeCategoricalStop]="removeCategoricalStop.bind(this)"
          [save]="saveMapsTab"
        />
      }
    </form>
  </div>
</ng-container>
