lc-instance-settings-form {
  .form-actions {
    margin-top: 1rem;
  }
}

.blue-green-switch {
  .p-toggleswitch-slider {
    background-color: var(--p-green-600);
  }

  .p-toggleswitch-checked .p-toggleswitch-slider {
    background-color: var(--p-blue-600);
  }
}
