<ng-container *transloco="let t; read: 'instanceSettings.instanceSettingsForm'">
  <div [formGroup]="group" class="flex flex-col gap-4 pt-4">
    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="instance-name">{{
        t("instanceNameLabel")
      }}</label>
      <input
        type="text"
        pInputText
        id="instance-name"
        formControlName="instanceName"
        [placeholder]="t('instanceNamePlaceholder')"
        lcFormControl
      />
      <small class="lc-error" *lcIfError="'required'">{{
        "validation.required" | transloco
      }}</small>
      <small class="lc-error" *lcIfError="'maxlength'">{{
        "validation.maxLength" | transloco: { max: 120 }
      }}</small>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="copyright-owner">{{
        t("copyrightOwnerLabel")
      }}</label>
      <input
        id="copyright-owner"
        type="text"
        pInputText
        formControlName="copyrightOwner"
        [placeholder]="t('copyrightOwnerPlaceholder')"
        lcFormControl
      />
      <small class="lc-error" *lcIfError="'required'">{{
        "validation.required" | transloco
      }}</small>
      <small class="lc-error" *lcIfError="'maxlength'">{{
        "validation.maxLength" | transloco: { max: 120 }
      }}</small>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="mail-greeting">{{
        t("mailGreetingLabel")
      }}</label>
      <input
        id="mail-greeting"
        type="text"
        pInputText
        formControlName="mailGreeting"
        [placeholder]="t('mailGreetingPlaceholder')"
        lcFormControl
      />
      <small class="lc-error" *lcIfError="'required'">{{
        "validation.required" | transloco
      }}</small>
      <small class="lc-error" *lcIfError="'maxlength'">{{
        "validation.maxLength" | transloco: { max: 120 }
      }}</small>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="gym-mode">{{ t("gymModeLabel") }}</label>
      <p-select
        id="gym-mode"
        [options]="[
          { value: false, label: t('gymModeLabelFalse') },
          { value: true, label: t('gymModeLabelTrue') },
        ]"
        optionLabel="label"
        optionValue="value"
        formControlName="gymMode"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="display-user-grades">{{
        t("displayUserGradesLabel")
      }}</label>
      <p-select
        id="display-user-grades"
        [options]="[
          { value: false, label: t('displayUserGradesFalse') },
          { value: true, label: t('displayUserGradesTrue') },
        ]"
        optionLabel="label"
        optionValue="value"
        formControlName="displayUserGrades"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="display-user-ratings">{{
        t("displayUserRatingsLabel")
      }}</label>
      <p-select
        id="display-user-ratings"
        [options]="[
          { value: false, label: t('displayUserRatingsFalse') },
          { value: true, label: t('displayUserRatingsTrue') },
        ]"
        optionLabel="label"
        optionValue="value"
        formControlName="displayUserRatings"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <label class="form-label" for="no-closed-projects">{{
        t("noClosedProjectsLabel")
      }}</label>
      <p-select
        id="no-closed-projects"
        [options]="[
          { value: false, label: t('noClosedProjectsFalse') },
          { value: true, label: t('noClosedProjectsTrue') },
        ]"
        optionLabel="label"
        optionValue="value"
        formControlName="noClosedProjects"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="skippedHierarchicalLayers">{{
          t("skippedHierarchicalLayersLabel")
        }}</label>
        <span
          class="pi pi-question-circle ml-2"
          [pTooltip]="t('skippedHierarchicalLayersDescription')"
          tooltipPosition="right"
        ></span>
      </div>
      <p-select
        id="skippedHierarchicalLayers"
        [options]="[
          { value: 0, label: t('skippedHierarchicalLayersItemLabel0') },
          { value: 1, label: t('skippedHierarchicalLayersItemLabel1') },
          { value: 2, label: t('skippedHierarchicalLayersItemLabel2') },
        ]"
        optionLabel="label"
        optionValue="value"
        formControlName="skippedHierarchicalLayers"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="faDefaultFormat">{{ t("faDefaultFormat") }}</label>
        <span
          class="pi pi-question-circle ml-2"
          [pTooltip]="t('faDefaultFormatTooltip')"
          tooltipPosition="right"
        ></span>
      </div>
      <p-select
        id="faDefaultFormat"
        [options]="[
          { value: faDefaultFormats.YEAR, label: t('YEAR') },
          { value: faDefaultFormats.DATE, label: t('DATE') },
        ]"
        optionLabel="label"
        optionValue="value"
        formControlName="faDefaultFormat"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="defaultStartingPosition">{{
          t("defaultStartingPosition")
        }}</label>
      </div>
      <p-select
        id="defaultStartingPosition"
        [options]="startingPositionsOptions"
        optionLabel="label"
        optionValue="value"
        formControlName="defaultStartingPosition"
        lcFormControl
      />
      <small class="lc-error" *lcIfError="'required'">{{
        "validation.required" | transloco
      }}</small>
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="rankingPastWeeks">{{ t("rankingPastWeeksLabel") }}</label>
        <span
          class="pi pi-question-circle ml-2"
          [pTooltip]="t('rankingPastWeeksTooltip')"
          tooltipPosition="right"
        ></span>
      </div>
      <p-select
        id="rankingPastWeeks"
        [options]="rankingPastWeeksOptions"
        optionLabel="label"
        optionValue="value"
        formControlName="rankingPastWeeks"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="language">{{ t("languageLabel") }}</label>
        <span
          class="pi pi-question-circle ml-2"
          [pTooltip]="t('instanceLanguageTooltip')"
          tooltipPosition="right"
        ></span>
      </div>
      <lc-language-select
        id="language"
        formControlName="language"
        lcFormControl
      />
    </div>

    <div class="flex flex-col gap-2" lcControlGroup>
      <div class="form-label flex items-center">
        <label for="timezone">{{ t("timezoneLabel") }}</label>
        <span
          class="pi pi-question-circle ml-2"
          [pTooltip]="t('timezoneTooltip')"
          tooltipPosition="right"
        ></span>
      </div>
      <p-select
        id="timezone"
        [options]="timezoneOptions"
        optionLabel="label"
        optionValue="value"
        [filter]="true"
        formControlName="timezone"
        lcFormControl
      />
    </div>

    <div class="form-actions">
      <p-button
        label="{{ t('editInstanceSettingsButtonLabel') }}"
        (click)="save()"
        icon="pi pi-save"
        class="responsive-button"
        [loading]="loading"
      ></p-button>
    </div>
  </div>
</ng-container>
