<ng-container *transloco="let t, read: 'crag.cragForm'">

  <div class="content">

    <p-card header="{{editMode ? t('editCragTitle') : t('createCragTitle')}}">
      <p class="mt-0" *ngIf="!editMode">
        {{t('createCragDescription')}}
      </p>

      <form [formGroup]="cragForm" lcForm>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('cragNameLabel')}}</label>
          <input type="text" pInputText formControlName="name" placeholder="{{t('cragNamePlaceholder')}}"
                 lcFormControl/>
          <small class="p-error" *lcIfError="'required'">{{t('required')}}</small>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('cragShortDescriptionLabel')}}</label>
          <textarea  pInputTextarea formControlName="shortDescription"
                 placeholder="{{t('cragShortDescriptionPlaceholder')}}"
                     lcFormControl rows="3"></textarea>
          <small class="p-error" *lcIfError="'required'">{{t('required')}}</small>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('cragDescriptionLabel')}}</label>
          <p-editor formControlName="description" lcFormControl placeholder="{{t('cragDescriptionPlaceholder')}}"
                    [style]="{ height: '200px' }" [readonly]="loadingState === loadingStates.INITIAL_LOADING">
            <ng-template pTemplate="header">
              <span class="ql-formats">
                  <button type="button" class="ql-bold" aria-label="Bold"></button>
                  <button type="button" class="ql-italic" aria-label="Italic"></button>
                  <button type="button" class="ql-underline" aria-label="Underline"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" value="ordered" class="ql-list" aria-label="Ordered List"></button>
                  <button type="button" value="bullet" class="ql-list" aria-label="Unordered List"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" class="ql-link" aria-label="Ordered List"></button>
              </span>
            </ng-template>
          </p-editor>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('cragRulesLabel')}}</label>
          <p-editor formControlName="rules" lcFormControl placeholder="{{t('cragRulesPlaceholder')}}"
                    [style]="{ height: '200px' }"  [readonly]="loadingState === loadingStates.INITIAL_LOADING">
            <ng-template pTemplate="header">
              <span class="ql-formats">
                  <button type="button" class="ql-bold" aria-label="Bold"></button>
                  <button type="button" class="ql-italic" aria-label="Italic"></button>
                  <button type="button" class="ql-underline" aria-label="Underline"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" value="ordered" class="ql-list" aria-label="Ordered List"></button>
                  <button type="button" value="bullet" class="ql-list" aria-label="Unordered List"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" class="ql-link" aria-label="Ordered List"></button>
              </span>
            </ng-template>
          </p-editor>
        </div>

      </form>

      <div class="form-actions">
        <p-button label="{{t('createCragButtonLabel')}}" (click)="saveCrag()" icon="pi pi-plus"
                  [loading]="loadingState === loadingStates.LOADING" *ngIf="!editMode"></p-button>
        <p-button label="{{t('editCragButtonLabel')}}" (click)="saveCrag()" icon="pi pi-plus"
                  [loading]="loadingState === loadingStates.LOADING" *ngIf="editMode"></p-button>
        <p-button label="{{t('deleteCragButtonLabel')}}" (click)="confirmDeleteCrag($event)" icon="pi pi-trash"
                  styleClass="p-button-danger" class="ml-3"
                  [loading]="loadingState === loadingStates.LOADING" *ngIf="editMode"></p-button>
        <p-confirmPopup></p-confirmPopup>
      </div>

    </p-card>

  </div>

</ng-container>
