<div class="blur-container">

  <div class="card login-card">

    <h3>Willkommen bei Glees Bouldering!</h3>

    Melde dich hier an.

    <form [formGroup]="loginForm">

      <div class="card-container block">
        <input type="text" pInputText formControlName="email" id="email" placeholder="E-Mail"/>
      </div>

      <div class="card-container block">
        <p-password formControlName="password" [toggleMask]="true" [feedback]="false" id="password" placeholder="Passwort"></p-password>
      </div>

    </form>

    <p-button label="Login" (click)="login()"></p-button>

    <p-button label="Passwort vergessen?" styleClass="p-button-link" class="forgot-pw-button"></p-button>

  </div>

</div>
