lc-menu {
  width: 100%;

  .main-link {
    text-decoration: none;
    color: inherit;
  }

  .p-menu-item-link-active {
    .p-menu-item-label,
    .p-menu-item-icon {
      color: var(--p-primary-600) !important;
    }
  }

  lc-user-avatar {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
  }

  .wide-menu {
    width: 15rem;
  }

  .navbar-field-group {
    display: flex;
    align-items: stretch;
    gap: 0.5rem;

    lc-language-select {
      display: flex;
      align-items: stretch;

      p-select {
        display: flex;
        flex: 1;
        height: 100%;
      }

      .p-select {
        flex: 1;
        height: 100%;
        align-items: center;
      }

      .p-select-label {
        display: flex;
        align-items: center;
      }
    }
  }

  .search-fake-input {
    background: var(--p-form-field-background);
    border: 1px solid var(--p-form-field-border-color);
    border-radius: var(--p-border-radius-md);
    display: flex;
    padding: 0.5rem;
    padding-right: 2rem;
    transition:
      background-color 0.2s,
      color 0.2s,
      border-color 0.2s,
      box-shadow 0.2s;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: var(--p-primary-500);
    }

    @media (screen and max-width: 960px) {
      border: none;
      background: transparent;
      padding-right: 0.5rem;
      .search-label {
        display: none;
      }
    }
  }
}
