lc-menu {

  width: 100%;

  .p-menubar {
    border-radius: 0;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  .p-menuitem-link-active {

    .p-menuitem-text, .p-menuitem-icon {
      color: var(--primary-600) !important;
    }

  }

  p-avatar {
    cursor: pointer;
    display: flex;
  }

  .wide-menu {
    width: 15rem
  }

  .search-fake-input {
    background: #ffffff;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    display: flex;
    padding: .5rem;
    padding-right: 2rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: #3B82F6;
    }

    @media (screen and max-width: 960px) {
      border: none;
      background: transparent;
      padding-right: .5rem;
      .search-label {
        display: none;
      }
    }

  }

}
