<ng-container *transloco="let t; read: 'searchDialog'">
  <p-inputgroup>
    <p-inputgroup-addon>
      @if (!loading) {
        <i class="pi pi-search"></i>
      }
      @if (loading) {
        <i class="pi pi-spin pi-spinner"></i>
      }
    </p-inputgroup-addon>
    <input
      type="text"
      pInputText
      [(ngModel)]="query"
      (ngModelChange)="search()"
      placeholder="{{ t('searchInputPlaceholder') }}"
      />
    <p-inputgroup-addon>
      <p-button icon="pi pi-times" (click)="close()"></p-button>
    </p-inputgroup-addon>
  </p-inputgroup>

  @if (searchables?.length > 0) {
    <div class="spacer"></div>
  }
  @for (searchable of searchables; track searchable) {
    <lc-searchable
      [searchable]="searchable"
      >
    </lc-searchable>
  }
</ng-container>
