<ng-container *transloco="let t; read: 'scale.scaleList'">
  <div class="content p-6">
      <div class="flex justify-end mb-6">
        <p-button
          [disabled]="loadingState === LoadingState.LOADING"
          icon="pi pi-plus"
          (click)="router.navigate(['/scales/create'])"
          label="{{ t('createScale') }}"
          class="responsive-button"
        />
      </div>
      @if (loadingState === LoadingState.LOADING) {
        <lc-scale-list-skeleton></lc-scale-list-skeleton>
      }
      @if (loadingState !== LoadingState.LOADING) {
        <p-table [value]="scales" styleClass="scale-list-table">
          <ng-template #header>
            <tr>
              <th>{{ "scale.scaleForm.lineTypeLabel" | transloco }}</th>
              <th>{{ "scale.scaleForm.nameInputLabel" | transloco }}</th>
              <th class="scale-list-actions-header"></th>
            </tr>
          </ng-template>
          <ng-template #body let-scale>
            <tr data-cy="scale-list-item">
              <td>{{ scale.lineType | transloco }}</td>
              <td>{{ scale.name }}</td>
              <td class="scale-list-actions-cell">
                <p-button
                  icon="pi pi-file-edit"
                  label="{{ 'scale.scaleForm.editScale' | transloco }}"
                  class="responsive-button"
                  [routerLink]="['/scales', scale.lineType, scale.name]"
                  [text]="true"
                />
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <tr>
              <td colspan="3">
                <p-message
                  severity="info"
                  icon="pi pi-info-circle"
                  class="m-2 block"
                >
                  {{ t("noScalesFoundEmptyMessage") }}
                </p-message>
              </td>
            </tr>
          </ng-template>
        </p-table>
      }
  </div>
</ng-container>
