@use "../../../styles/media-queries" as m;

.search-dialog .p-dialog-content {
  padding-top: 1.25rem;
}

.search-dialog {
  margin-top: 5rem !important;

  @media (screen and max-width: 800px) {
    margin-top: 0 !important;
    height: 100%;
    max-height: 100%;

    &.p-dialog {
      border-radius: 0 !important;
    }
  }
}

lc-rock-explorer-coordinate-search-dialog {
  display: block;
  width: 40rem;
  max-width: 100%;
}

.rock-explorer-coordinate-search-dialog__error {
  display: block;
  margin-top: 1rem;
}
