.gallery-image-card {
  .p-card-body {
    padding: 0.5rem !important;
  }

  .p-card-header {
    background-color: #f4f4f4;

    .image-container {
      height: 300px;
      width: 100%;
    }
  }

  .tags {
    display: flex;
    justify-content: end;
    gap: 0.25rem;
  }
}
