<ng-container *transloco="let t; read: 'accountForm'">
  <div class="auth-container">
    <div class="card login-card">
      <form [formGroup]="accountForm" lcForm>
        <div class="flex flex-row align-items-center">
          <lc-avatar-upload formControlName="avatar"></lc-avatar-upload>

          <div class="ml-5">
            <h3>{{ t("accountFormTitle") }}</h3>

            {{ t("accountFormDescription") }}
          </div>
        </div>

        <div class="card-container block" lcControlGroup>
          <input
            type="text"
            pInputText
            formControlName="firstname"
            placeholder="{{ t('firstnamePlaceholder') }}"
            lcFormControl
            data-cy="register-form-firstname"
          />
          <small class="lc-error" *lcIfError="'required'">{{
            t("required")
          }}</small>
          <small class="lc-error" *lcIfError="'maxlength'">{{
            t("maxlength120")
          }}</small>
        </div>

        <div class="card-container block" lcControlGroup>
          <input
            type="text"
            pInputText
            formControlName="lastname"
            placeholder="{{ t('lastnamePlaceholder') }}"
            lcFormControl
            data-cy="register-form-lastname"
          />
          <small class="lc-error" *lcIfError="'required'">{{
            t("required")
          }}</small>
          <small class="lc-error" *lcIfError="'maxlength'">{{
            t("maxlength120")
          }}</small>
        </div>

        <div formGroupName="emails">
          <div class="card-container block" lcControlGroup>
            <input
              type="text"
              pInputText
              formControlName="email"
              placeholder="{{ t('emailPlaceholder') }}"
              lcFormControl
              data-cy="register-form-email"
            />
            <small class="lc-error" *lcIfError="'required'">{{
              t("required")
            }}</small>
            <small class="lc-error" *lcIfError="'pattern'">{{
              t("invalidEmailHint")
            }}</small>
            <small class="lc-error" *lcIfError="'emailTaken'">{{
              t("emailTaken")
            }}</small>
            <small class="lc-error" *lcIfError="'maxlength'">{{
              t("maxlength120")
            }}</small>
          </div>

          <div
            class="card-container block"
            lcControlGroup
            *ngIf="accountForm.get('emails.email').value !== currentUser.email"
          >
            <input
              type="text"
              pInputText
              formControlName="emailConfirm"
              placeholder="{{ t('emailConfirmPlaceholder') }}"
              lcFormControl
              data-cy="register-form-email-confirm"
            />
            <small class="lc-error" *lcIfError="'required'">{{
              t("required")
            }}</small>
            <small class="lc-error" *lcIfError="'pattern'">{{
              t("invalidEmailHint")
            }}</small>
            <small class="lc-error" *lcIfError="'emailTaken'">{{
              t("emailTaken")
            }}</small>
            <small class="lc-error" *lcIfError="'maxlength'">{{
              t("maxlength120")
            }}</small>
          </div>
        </div>
      </form>

      <p-message
        severity="error"
        class="mt-4"
        *ngIf="savePressed && emailsDontMatch()"
      >
        {{ t("emailsDontMatchAlertText") }}
      </p-message>

      <p-button
        label="{{ t('saveAccountSettingsButtonLabel') }}"
        (click)="save()"
        [loading]="loadingState === loadingStates.LOADING"
      ></p-button>

      <p-message
        severity="info"
        class="w-full max-w-35rem"
        *ngIf="emailChangedPostSave"
      >
        {{ t("emailAddressChangeInfoText") }}
      </p-message>
    </div>
  </div>
</ng-container>
