<div class="footer-menu">
  <p-button label="Impressum" styleClass="p-button-secondary p-button-text" routerLink="imprint"></p-button>
  <p-button label="Datenschutzerklärung" styleClass="p-button-secondary p-button-text"
            routerLink="data-privacy-statement"></p-button>
</div>
<div class="footer-notes">
  <div class="footer-note-item">Copyright © {{currentYear}} Glees Bouldering</div>
  <div class="footer-note-item">Powered with 🦾 by
    <a href="https://github.com/LocalCrag/LocalCragApp" target="_blank">LocalCrag</a></div>
</div>
