<div class="content">
  <p-card header="{{ sector?.name }}">
    <div class="flex gap-1">
      <lc-closed-spot-tag *ngIf="sector?.closed"></lc-closed-spot-tag>
      <lc-secret-spot-tag *ngIf="sector?.secret"></lc-secret-spot-tag>
    </div>

    <p-breadcrumb
      class="max-w-full"
      [model]="breadcrumbs"
      [home]="breadcrumbHome"
      *ngIf="sector?.slug !== environment.skippedSlug"
    ></p-breadcrumb>

    <p-tabs
      [value]="tabsDirective.activeTabIndex()"
      scrollable
      lcSetActiveTab
      #tabsDirective="lcSetActiveTab"
      [items]="items"
      *ngIf="sector"
    >
      <p-tablist>
        @for (tab of items; track $index) {
          <p-tab
            [value]="$index"
            [routerLink]="tab.routerLink"
            *ngIf="tab.visible"
          >
            <i [class]="tab.icon" style="font-size: 1rem"></i>
            {{ tab.label }}
          </p-tab>
        }
      </p-tablist>
    </p-tabs>

    <router-outlet name="sectorContent"></router-outlet>
  </p-card>
</div>
