<div class="blur-container">

  <div class="card login-card">

    <h3>Passwort ändern</h3>

    Ändere hier dein Passwort.

    <form [formGroup]="changePasswordForm" lcForm>

      <div class="card-container block" lcControlGroup>
        <p-password formControlName="oldPassword" [toggleMask]="true" [feedback]="false"
                    placeholder="Altes Passwort" lcFormControl></p-password>
        <small id="username-help" class="p-error" *lcIfError="'required';controlName:'oldPassword'">
          Pflichtfeld
        </small>
      </div>

      <div formGroupName="newPasswords">

        <div class="card-container block">
          <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                      placeholder="Neues Passwort"></p-password>
        </div>

        <div class="card-container block">
          <p-password formControlName="passwordConfirm" [toggleMask]="true" [feedback]="false"
                      placeholder="Neues Passwort bestätigen"></p-password>
        </div>

      </div>

    </form>

    <p-button label="Passwort ändern" (click)="changePassword()"></p-button>

  </div>

</div>
