<ng-container *transloco="let t; read: 'appLevelAlerts'">
  @if (showCookieAlert$ | async) {
    <div class="alert info">
      <div class="alert-text">
        {{ t("thisWebsiteUsesCookies") }}
        <a href="https://www.cookiesandyou.com/" target="_blank">{{
          t("readMoreAboutCookies")
        }}</a>
      </div>
      <div class="alert-actions">
        <p-button
          label="{{ t('AcceptCookiesButton') }}"
          styleClass="p-button-text"
          (onClick)="allowCookies()"
          data-cy="accept-cookies"
        ></p-button>
      </div>
    </div>
  }

  @for (alert of adminAlerts$ | async; track alert.id) {
    <div class="alert" [class]="alert.severity" data-cy="admin-app-alert">
      <div class="alert-text">
        {{ alert.message }}
        @if (alert.readMoreUrl) {
          <a [href]="alert.readMoreUrl" target="_blank" rel="noopener">{{
            t("readMore")
          }}</a>
        }
      </div>
      <p-button
        class="alert-dismiss"
        icon="pi pi-times"
        styleClass="p-button-text p-button-rounded"
        [attr.aria-label]="t('dismissAlertButton')"
        (onClick)="dismissAdminAlert(alert)"
        data-cy="dismiss-app-alert"
      />
    </div>
  }
</ng-container>
