lc-app-level-alerts {
  width: 100%;
  display: block;

  .alert {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: fit-content;

    a {
      font-weight: 700;
      margin-left: 0.25rem;
    }

    &.info,
    &.warning,
    &.danger {
      color: #fff;

      a,
      .p-button-label,
      .p-button-icon {
        color: #fff;
      }
    }

    &.warning {
      background-color: var(--p-yellow-700);
    }

    &.danger {
      background-color: var(--p-red-700);
    }

    &.info {
      background-color: var(--p-blue-700);
    }

    .alert-actions {
      display: inline-block;
    }

    .alert-text {
      display: inline-block;
      padding: 0.5rem;
      text-align: center;
    }

    .alert-dismiss {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:has(.alert-dismiss) {
      padding-right: 2.5rem;
    }
  }
}
