<ng-container *transloco="let t; read: 'appLevelAlerts'">
  @if (showCookieAlert$ | async) {
    <div class="alert info">
      <div class="alert-text">
        {{ t("thisWebsiteUsesCookies") }}
        <a href="https://www.cookiesandyou.com/" target="_blank">{{
          t("readMoreAboutCookies")
        }}</a>
      </div>
      <div class="alert-actions">
        <p-button
          label="{{ t('AcceptCookiesButton') }}"
          styleClass="p-button-text"
          (onClick)="allowCookies()"
          data-cy="accept-cookies"
        ></p-button>
      </div>
    </div>
  }
</ng-container>
