@use "../../../styles/media-queries" as m;

:host{
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  position:  fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  transition: background-image .2s linear;
  background-position: center;

  .blur-layer{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);

    @include m.on-mobile{
      backdrop-filter: blur(10px);
    }

  }



}
