[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
flask = "*"
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
python-dateutil = "*"
flask-cors = "*"
flask-migrate = "*"
gunicorn = "*"
python-magic = "*"
pytest = "*"
sqlparse = "*"
flask-marshmallow = "*"
webargs = "*"
marshmallow-sqlalchemy = "*"
pytz = "*"
psycopg2-binary = "*"
shortuuid = "*"
sqlalchemy = "*"
marshmallow-enum = "*"
validators = "*"
pytest-mock = "*"
boto3 = "*"
moto = "*"
sentry-sdk = {extras = ["flask"], version = "*"}
sqlalchemy-utils = "*"
apscheduler = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
