[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==11.*"
flask = "==3.*"
flask-jwt-extended = "==4.*"
flask-sqlalchemy = "==3.*"
python-dateutil = "==2.*"
flask-cors = "==5.*"
flask-migrate = "==4.*"
gunicorn = "==23.*"
python-magic = "==0.*"
pytest = "==8.*"
sqlparse = "==0.*"
flask-marshmallow = "==1.*"
webargs = "==8.*"
marshmallow-sqlalchemy = "==1.*"
pytz = "==2025.*"
psycopg2-binary = "==2.*"
shortuuid = "==1.*"
sqlalchemy = "==2.*"
marshmallow-enum = "==1.*"
validators = "==0.*"
pytest-mock = "==3.*"
boto3 = "==1.*"
moto = "==5.*"
sentry-sdk = {extras = ["flask"], version = "==2.*"}
sqlalchemy-utils = "==0.*"
apscheduler = "==3.*"

[dev-packages]
flake8 = "==7.*"
black = "==25.*"
isort = "==6.*"

[requires]
python_version = "3.14"
