.line-table {
  width: 100%;
}

.line-row:hover{
  cursor: pointer;
}

.name-column{
  width: 20%;
}

.grade-column{
  width: 10%;
}


.style-column{
  width: 60%;
}

.rating-column{
  width: 125px;
}
