<ng-container *transloco="let t">
  <div *ngFor="let chartData of chartData">
    <h6>{{ chartData.lineType }} {{ chartData.gradeScale }}</h6><!-- TODO how should we present these labels? -->
    <p-chart
      type="bar"
      [data]="chartData.data"
      [options]="options"
      *ngIf="gradeDistribution"
    ></p-chart>
    <div class="total">
      {{ t("totalLines") }}: {{ chartData.totalCount - chartData.projectCount }}
      <span *ngIf="!excludeProjects">
        ({{ t("plusXProjects", { projects: chartData.projectCount }) }})
      </span>
    </div>
  </div>
</ng-container>
