<ng-container *transloco="let t">
  @if (!gradeDistribution || chartData.length === 0) {
    <p-message
      severity="info"
      icon="pi pi-info-circle"
      text="{{ t('noDataAvailable') }}"
    ></p-message>
  }
  @for (chartDataElement of chartData; track chartDataElement) {
    <div>
      @if (chartData.length > 1) {
        <h6>
          {{ chartDataElement.lineType }} {{ chartDataElement.gradeScale }}
        </h6>
      }
      @if (gradeDistribution) {
        <p-chart
          type="bar"
          [data]="chartDataElement.data"
          [options]="options"
        ></p-chart>
      }
      <div class="total">
        {{ t("totalLines") }}:
        {{ chartDataElement.totalCount }}
        @if (
          !excludeProjects &&
          !excludeUngraded &&
          (chartDataElement.ungradedCount > 0 ||
            chartDataElement.projectCount > 0)
        ) {
          <span>
            ({{
              t("plusXUngradedYProjects", {
                ungraded: chartDataElement.ungradedCount,
                projects: chartDataElement.projectCount,
              })
            }})
          </span>
        }
        @if (
          excludeProjects &&
          !excludeUngraded &&
          chartDataElement.ungradedCount > 0
        ) {
          <span>
            ({{
              t("plusXUngraded", {
                ungraded: chartDataElement.ungradedCount,
              })
            }})
          </span>
        }
        @if (
          !excludeProjects &&
          excludeUngraded &&
          chartDataElement.projectCount > 0
        ) {
          <span>
            ({{
              t("plusXProjects", {
                projects: chartDataElement.projectCount,
              })
            }})
          </span>
        }
      </div>
    </div>
  }
</ng-container>
