<p-fileUpload
  mode="basic"
  #uploader
  [hidden]="true"
  [name]="'upload'"
  [url]="uploadUrl"
  accept=".jpg, .jpeg, .png, .gif, .bmp"
  [multiple]="false"
  [maxFileSize]="maxImageSize"
  (onError)="showProgressBar = false"
  (onBeforeUpload)="startProgress()"
  (onProgress)="setProgress($event)"
  (onUpload)="setMedia($event)"
  [auto]="true"
  >
</p-fileUpload>

<div class="avatar-wrapper">
  <div class="avatar" [style.background-image]="getAvatarStyle()"></div>
  @if (showProgressBar) {
    <p-progressSpinner
      styleClass="w-2rem h-2rem"
      strokeWidth="8"
      animationDuration=".5s"
    ></p-progressSpinner>
  }
  @if (!showProgressBar) {
    <p-button
      icon="pi pi-pencil"
      [rounded]="true"
      (click)="clickFileUpload()"
    ></p-button>
  }
</div>
