@for (item of model; track item) {
  <div
    class="item"
    (mouseenter)="onMouseenter(item, menuItem)"
    [ngClass]="{ 'active-item': item.items && item.isActive, 'root-child': root }"
    #menuItem
    >
    <div class="item-wrapper">
      <a
        tabindex="0"
        class="item-content"
        (click)="$event.preventDefault(); onItemClick(item)"
        [ngClass]="{ 'no-sub-menu': !item.items }"
        [href]="item.item.routerLink || item.item.url || '#'"
        >
        @if (item.item.icon) {
          <span
            class="p-menuitem-icon menu-icon"
            [ngClass]="item.item.icon"
            >
          </span>
        }
        <span>{{ item.item.label }}</span>
      </a>
      @if (item.items?.length > 0) {
        <div
          tabindex="0"
          class="item-angle"
          (click)="onAngleClick(item)"
          >
          @if (root) {
            <AngleDownIcon class="ml-2" />
          }
          @if (!root) {
            <AngleRightIcon class="ml-2" />
          }
        </div>
      }
      <!-- eslint-disable-next-line @angular-eslint/template/elements-content -->
      @if (!item.items) {
        <a
          tabindex="0"
          class="item-angle-placeholder"
          (click)="$event.preventDefault(); onItemClick(item)"
          [href]="item.item.routerLink || item.item.url || '#'"
        ></a>
      }
    </div>
    @if (item.items?.length > 0) {
      <lc-header-menu-sub
        [model]="item.items"
        [class.is-active]="item.isActive"
        [firstChild]="root"
        [isMobile]="isMobile"
        >
      </lc-header-menu-sub>
    }
  </div>
}
