:host {
  display: block;
  overflow: visible; // Set overflow visible to actually enable overflow detection
}

.menubar {
  padding: 0.5rem;
  display: flex;
  background: var(--p-content-background);
  color: var(--p-text-color);
  border-bottom: 1px solid var(--p-content-border-color);
  align-items: center;
  position: relative;
  width: 100%;
}

.menubar-start {
  flex-shrink: 0;
}

.menubar-end {
  margin-left: auto;
}

.bars {
  cursor: pointer;
}
