:host {
  display: block;
  overflow: visible; // Set overflow visible to actually enable overflow detection
}

.menubar {
  padding: 0.5rem;
  display: flex;
  background: #f9fafb;
  color: #4b5563;
  align-items: center;
  position: relative;
  width: 100%;
}

.menubar-start {
}

.menubar-end {
  margin-left: auto;
}

.bars {
  cursor: pointer;
}
