lc-line-number-badge {
  .line-number-badge {
    background-color: var(--arrow-color);
    color: var(--arrow-text-color);
    border-radius: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    flex-shrink: 0;
  }
}
