lc-line-list {

  .line-info-container {
    width: 100%;
  }

  .line-name {

    display: grid;
    grid-template-columns: auto max-content;
    width: 100%;

    p-rating {
      align-self: flex-end;
    }

  }

  .line-link {
    color: inherit;
    text-decoration: inherit;
  }

  .video-button p-button button {
    justify-content: flex-start;
    padding-left: 0;
  }

}
