<ng-container *transloco="let t, read: 'area.areaList'">

  <p-dataView #dv [value]="areas" [sortField]="sortField" [sortOrder]="sortOrder"
              [emptyMessage]="t('noAreasFoundEmptyMessage')"
              [loading]="loading === loadingStates.LOADING">
    <ng-template pTemplate="header">
      <div class="flex flex-row justify-content-between">
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey"
                    optionLabel="label" (onChange)="onSortChange($event)"
                    styleClass="md:mb-0"></p-dropdown>
        <div class="flex justify-content-end gap-3">
          <p-button label="{{t('newAreaButtonLabel')}}" icon="pi pi-plus" routerLink="/topo/{{cragSlug}}/{{sectorSlug}}/create-area"
                    *ngIf="(isLoggedIn$ | async) && !(isMobile$ | async)"></p-button>
          <p-button icon="pi pi-plus" routerLink="/topo/{{cragSlug}}/{{sectorSlug}}/create-area"
                    *ngIf="(isLoggedIn$ | async) && (isMobile$ | async)"></p-button>
          <p-button label="{{t('reorderAreasButtonLabel')}}" icon="pi pi-sort" (click)="reorderAreas()"
                    [disabled]="areas?.length < 2"
                    *ngIf="(isLoggedIn$ | async) && !(isMobile$ | async)"></p-button>
          <p-button icon="pi pi-sort" (click)="reorderAreas()"
                    [disabled]="areas?.length < 2"
                    *ngIf="(isLoggedIn$ | async) && (isMobile$ | async)"></p-button>
        </div>
      </div>
    </ng-template>
    <ng-template let-areas pTemplate="list">
      <div class="grid grid-nogutter">
      <div class="col-12 clickable-data-item" routerLink="/topo/{{cragSlug}}/{{sectorSlug}}/{{area.slug}}"
           *ngFor="let area of areas; let first = first">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
             [ngClass]="{ 'border-top-1 surface-border': !first }">
          <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
               [src]="area.portraitImage ? area.portraitImage.thumbnailM : 'assets/placeholder.png'"
               [alt]="area.name"/>
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold text-900">{{ area.name }}</div>
              <div [innerHTML]="area.description | sanitizeHtml"></div>
              <lc-leveled-grade-distribution [fetchingObservable]="areasService.getAreaGrades(area.slug)"></lc-leveled-grade-distribution>
            </div>
          </div>
        </div>
      </div>
      </div>
    </ng-template>
  </p-dataView>

</ng-container>
