<ng-container *transloco="let t; read: 'orderItems'">
  <p-orderList
    [value]="items"
    [listStyle]="{ height: '25rem' }"
    [header]="itemsName"
    [dragdrop]="(isMobile$ | async) === false"
    >
    <ng-template let-item #item>
      @if (!showImage && !showLinePathLineName && item.name) {
        <div
          class="flex flex-wrap p-2 align-items-center gap-3"
          >
          {{ item.name }}
        </div>
      }
      @if (showLinePathLineName) {
        <div
          class="flex flex-wrap p-2 align-items-center gap-3"
          >
          {{ item.line.name }}
          {{ item.line | lineGrade }}
        </div>
      }
      @if (showMenuItemTitle) {
        <div
          class="flex flex-wrap p-2 align-items-center gap-3"
          >
          {{ item.type | transloco }}
          @if (item.type === menuItemTypes.MENU_PAGE) {
            <span
              >({{ item.menuPage.title }})</span
              >
            }
          </div>
        }
        @if (showImage) {
          <img
            alt="{{ t('orderItemImageAlt') }}"
            class="w-5 sm:w-5rem xl:w-5rem shadow-2 block xl:block mx-auto border-round"
            [src]="item.image.thumbnailM"
            />
        }
      </ng-template>
    </p-orderList>

    <div class="flex gap-3 mt-4 justify-content-end">
      <p-button
        label="{{ t('cancelButtonLabel') }}"
        (click)="cancel()"
        styleClass="p-button-secondary"
        [disabled]="loadingState === loadingStates.LOADING"
      ></p-button>
      <p-button
        label="{{ t('saveButtonLabel') }}"
        (click)="saveItems()"
        [loading]="loadingState === loadingStates.LOADING"
      ></p-button>
    </div>
  </ng-container>
