@if (crag) {
  @if (crag.rules) {
    <section
      [innerHTML]="crag.rules | sanitizeHtml"
      class="quill-content pt-4"
    ></section>
  }
}

@if (!crag) {
  <p-skeleton width="100%" class="mb-2"></p-skeleton>
  <p-skeleton width="90%" class="mb-2"></p-skeleton>
  <p-skeleton width="87%" class="mb-2"></p-skeleton>
  <p-skeleton width="70%" class="mb-2"></p-skeleton>
  <p-skeleton width="65%" class="mb-2"></p-skeleton>
  <p-skeleton width="45%" class="mb-4"></p-skeleton>
  <p-skeleton height="4rem" class="mb-4"></p-skeleton>
  <p-skeleton width="40%" height="4rem"></p-skeleton>
}
