<div class="blur-container">

  <div class="card login-card">

    <h3>Passwort ändern</h3>

    Ändere hier dein Passwort.

    <form [formGroup]="changePasswordForm" lcForm>

      <div class="card-container block" lcControlGroup>
        <p-password formControlName="oldPassword" [toggleMask]="true" [feedback]="false"
                    placeholder="Altes Passwort" lcFormControl></p-password>
        <small  class="p-error" *lcIfError="'required';controlName:'oldPassword'">Pflichtfeld</small>
        <small  class="p-error" *lcIfError="'minlength';controlName:'oldPassword'">Mindestlänge: 8 Zeichen</small>
      </div>

      <div formGroupName="newPasswords">

        <div class="card-container block" lcControlGroup>
          <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                      placeholder="Neues Passwort" lcFormControl></p-password>
          <small  class="p-error" *lcIfError="'required';controlName:'password'">Pflichtfeld</small>
          <small  class="p-error" *lcIfError="'minlength';controlName:'password'">Mindestlänge: 8 Zeichen</small>
        </div>

        <div class="card-container block" lcControlGroup>
          <p-password formControlName="passwordConfirm" [toggleMask]="true" [feedback]="false"
                      placeholder="Neues Passwort bestätigen" lcFormControl></p-password>
          <small  class="p-error" *lcIfError="'required';controlName:'passwordConfirm'">Pflichtfeld</small>
          <small  class="p-error" *lcIfError="'minlength';controlName:'passwordConfirm'">Mindestlänge: 8 Zeichen</small>
        </div>

      </div>

    </form>

    <p-message severity="error" text="Passwörter stimmen nicht überein" class="mt-4"
               *ngIf="changePasswordPressed && passwordsDontMatch()">
    </p-message>

    <p-button label="Passwort ändern" (click)="changePassword()" [loading]="loading"></p-button>

  </div>

</div>
