<ng-container *transloco="let t, read: 'area.area'">

  <ng-container *ngIf="area">

    <section [innerHTML]="area.description | sanitizeHtml"></section>

    <section *ngIf="area.lat && area.lng">GPS: <a target="_blank" href="http://maps.google.com/maps?z=12&t=m&q=loc:{{area.lat}}+{{area.lng}}">{{area.lat}}, {{area.lng}}</a> </section>

    <h4>{{t('gradeDistribution')}}:</h4>
    <lc-leveled-grade-distribution [fetchingObservable]="fetchAreaGrades"></lc-leveled-grade-distribution>

  </ng-container>

  <ng-container *ngIf="!area">

    <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="90%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="87%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="70%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="65%" styleClass="mb-2"></p-skeleton>
    <p-skeleton width="45%" styleClass="mb-4"></p-skeleton>
    <p-skeleton height="4rem" styleClass="mb-4"></p-skeleton>
    <p-skeleton width="40%" height="4rem"></p-skeleton>

  </ng-container>

</ng-container>
