<ng-container *transloco="let t; read: 'footer'">
  @if (menuItems.length > 0) {
    <div class="footer-menu">
      @for (menuItem of menuItems; track menuItem) {
        @if (menuItem.routerLink) {
          <p-button
            [dt]="footerButtonsDt"
            label="{{ menuItem.title }}"
            styleClass="p-button-secondary p-button-text"
            routerLink="{{ menuItem.routerLink }}"
          >
          </p-button>
        }
        @if (menuItem.link) {
          <p-button
            [dt]="footerButtonsDt"
            label="{{ menuItem.title }}"
            styleClass="p-button-secondary p-button-text"
            (click)="openLink(menuItem.link)"
          >
          </p-button>
        }
      }
    </div>
  }
  <div class="footer-notes">
    <div class="footer-note-item">
      {{ t("copyright") }} © {{ currentYear }} {{ copyrightOwner$ | async }}
    </div>
    <div class="footer-note-item">
      Powered with 🦾 by
      <a href="https://github.com/LocalCrag/LocalCragApp" target="_blank"
        >LocalCrag</a
      >
      <span class="version"> v{{ version }} </span>
    </div>
  </div>
</ng-container>
