<ng-container *transloco="let t; read: 'sector.sector'">
  @if (sector) {
    @if (sector.closedReasons?.length) {
      <lc-closed-spot-alert
        [reasons]="sector.closedReasons"
      ></lc-closed-spot-alert>
    }
    @if (sector.upcomingClosureWarnings?.length) {
      <lc-upcoming-closure-alert
        [warnings]="sector.upcomingClosureWarnings"
      ></lc-upcoming-closure-alert>
    }
    <lc-current-conditions
      *isOutdoorMode="true"
      [slug]="sector.slug"
      [level]="'sector'"
    ></lc-current-conditions>
    <h4>{{ t("gradeDistribution") }}:</h4>
    <lc-grade-distribution-bar-chart
      [fetchingObservable]="fetchSectorGrades"
    ></lc-grade-distribution-bar-chart>
    @if (sector.description) {
      <h4>{{ t("description") }}:</h4>
      @if (sector.description) {
        <section
          [innerHTML]="sector.description | sanitizeHtml"
          class="quill-content"
        ></section>
      }
    }
    @if (sectorCoordinates) {
      <lc-coordinates-button
        [coordinates]="sectorCoordinates"
      ></lc-coordinates-button>
    }
    <lc-map [target]="sector"></lc-map>
  }

  @if (!sector) {
    <p-skeleton width="100%" class="mb-2"></p-skeleton>
    <p-skeleton width="90%" class="mb-2"></p-skeleton>
    <p-skeleton width="87%" class="mb-2"></p-skeleton>
    <p-skeleton width="70%" class="mb-2"></p-skeleton>
    <p-skeleton width="65%" class="mb-2"></p-skeleton>
    <p-skeleton width="45%" class="mb-4"></p-skeleton>
    <p-skeleton height="4rem" class="mb-4"></p-skeleton>
    <p-skeleton width="40%" height="4rem"></p-skeleton>
  }
</ng-container>
