lc-map-marker-form-array {

  .gps-tag .p-tag{
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background-color: transparent;
  }

  p-tag .p-tag{
    height: 3rem;
    padding: 1rem;
  }

}
