lc-map-marker-form-array {
  .coordinates-tag .p-tag {
    border: 1px solid var(--p-text-color);
    color: var(--p-text-color);
    background-color: transparent;
  }

  p-tag .p-tag {
    height: 3rem;
    padding: 1rem;
  }
}
