<ng-container *transloco="let t">
  <p-inputgroup>
    <p-inputgroup-addon>
      @if (!loading) {
        <i class="pi pi-search"></i>
      }
      @if (loading) {
        <i class="pi pi-spin pi-spinner"></i>
      }
    </p-inputgroup-addon>
    <input
      #queryInput
      type="text"
      pInputText
      [ngModel]="query"
      (ngModelChange)="onQueryChange($event)"
      (keydown.enter)="submit()"
      [placeholder]="t('rockExplorer.locationSearchPlaceholder')"
      [attr.aria-label]="t('rockExplorer.locationSearchGo')"
    />
    <p-inputgroup-addon>
      <p-button icon="pi pi-times" (click)="close()" />
    </p-inputgroup-addon>
  </p-inputgroup>

  @if (places.length > 0) {
    <div class="spacer"></div>
    <ul class="rock-explorer-location-search-dialog__results" role="listbox">
      @for (place of places; track place.id) {
        <li>
          <button
            type="button"
            class="rock-explorer-location-search-dialog__result"
            role="option"
            [attr.aria-selected]="false"
            (click)="selectPlace(place)"
          >
            <i class="pi pi-map-marker" aria-hidden="true"></i>
            <span>{{ place.label }}</span>
          </button>
        </li>
      }
    </ul>
  }

  @if (errorMessage) {
    <p-message
      severity="warn"
      styleClass="rock-explorer-location-search-dialog__error"
      >{{ errorMessage }}</p-message
    >
  }
</ng-container>
