{% extends "email-base.html" %}

{% block content %}
<h1 style="color:#2F3133;font-size:19px;font-weight:bold;margin-top:0;">{{ i18n_hello }} {{ receiver_firstname }},</h1>
<p style="font-size:16px;line-height:1.5em;">{{ i18n_intro }}</p>
<ul>
    {% for item in digest_items %}
    <li>{{ item.html | safe }}</li>
    {% endfor %}
</ul>
<p>
    <a href="{{ notifications_link }}" target="_blank">{{ i18n_open_notifications }}</a>
</p>
<p style="font-size:16px;line-height:1.5em;">{{ i18n_thanks }}<br/>{{ i18n_greetings }}</p>
{% endblock %}
