<div class="blur-container">

  <div class="card login-card">

    <h3>Passwort zurücksetzen</h3>

    Wähle ein neues Passwort für Deinen Account.

    <form [formGroup]="resetPasswordForm" lcForm>

      <div formGroupName="newPasswords">

        <div class="card-container block" lcControlGroup>
          <p-password formControlName="password" [toggleMask]="true" [feedback]="false"
                      placeholder="Neues Passwort" lcFormControl></p-password>
          <small  class="p-error" *lcIfError="'required';controlName:'password'">Pflichtfeld</small>
          <small  class="p-error" *lcIfError="'minlength';controlName:'password'">Mindestlänge: 8 Zeichen</small>
        </div>

        <div class="card-container block" lcControlGroup>
          <p-password formControlName="passwordConfirm" [toggleMask]="true" [feedback]="false"
                      placeholder="Neues Passwort bestätigen" lcFormControl></p-password>
          <small  class="p-error" *lcIfError="'required';controlName:'passwordConfirm'">Pflichtfeld</small>
          <small  class="p-error" *lcIfError="'minlength';controlName:'passwordConfirm'">Mindestlänge: 8 Zeichen</small>
        </div>

      </div>

    </form>

    <p-message severity="error" text="Passwörter stimmen nicht überein" class="mt-4"
               *ngIf="resetPasswordPressed && passwordsDontMatch()">
    </p-message>

    <p-button label="Passwort ändern" (click)="resetPassword()"
              [loading]="(loadingState$ | async) === loadingStates.LOADING"></p-button>

  </div>

</div>
