<ng-container *transloco="let t, read: 'imprint'">

  <div class="content">

    <p-card header="{{'title}}">
      <p>Peter Grabowitz<br>Palanterstrasse 8a<br>50937 Köln<br>info (at) gleesbouldering.com</p>
      <p class="has-medium-font-size"><strong>Haftungsausschuss</strong><br>Wie immer und überall im Klettersport ist
        jeder für sich selbst verantwortlich. Das Gebiet ist kein Vergnügungspark. Niemand kümmert sich um irgendwelche
        Sicherheitsmaßnahmen. Jeder klettert auf eigene Gefahr.</p>
    </p-card>

  </div>

</ng-container>
