@use "../../../styles/media-queries" as m;

.fa {
  font-size: 11px;

  span:nth-of-type(n + 2) {
    &::before {
      content: ", ";
    }
  }
}

.link-list {
  span ~ span::before {
    content: ", ";
  }
}

lc-tick-button,
lc-todo-button {
  margin-left: -1.45rem;
}

lc-line-bool-prop-list {
  @include m.on-mobile {
    text-align: center;
  }
}

.line-description {
  @include m.on-mobile {
    text-align: center;
  }
}
