.fa {

  font-size: 11px;

  span:nth-of-type(n + 2) {
    &::before {
      content: ", ";
    }
  }

}

.link-list{
  span~span::before {
    content: ", ";
  }
}

lc-tick-button{
  margin-left: -1.45rem;
}
