<ng-container *transloco="let t; read: 'gallery.galleryForm'">
  <div class="grid">
    <div class="col-12 flex justify-content-end" *isLoggedIn="true">
      <p-button
        (click)="addImage()"
        icon="pi pi-image"
        [label]="t('addImage')"
      ></p-button>
    </div>

    @for (image of images; track image) {
      <div class="col-12 md:col-6 xl:col-4">
        <lc-gallery-image
          [image]="image"
          (delete)="confirmDeleteImage($event, image)"
          (edit)="editImage(image)"
        ></lc-gallery-image>
      </div>
    }
    @for (
      _ of loadingAdditionalPage === loadingStates.LOADING
      ? [1, 2, 3]
      : loadingFirstPage === loadingStates.LOADING
      ? [1, 2, 3, 4, 5, 6]
      : []
      ; track
      _) {
      <div
        class="col-12 md:col-6 xl:col-4"
        >
        <lc-gallery-image-skeleton></lc-gallery-image-skeleton>
      </div>
    }
    @if (hasNextPage) {
      <div class="flex justify-content-center mt-5">
        <p-button
          label="{{ t('loadMore') }}"
          (scrolled)="loadNextPage()"
          (click)="loadNextPage()"
          infiniteScroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [loading]="loadingAdditionalPage === loadingStates.LOADING"
        ></p-button>
      </div>
    }
  </div>
  @if (
    !(
    loadingAdditionalPage === loadingStates.LOADING ||
    loadingFirstPage === loadingStates.LOADING
    ) && images.length === 0
    ) {
    <p-message
      severity="info"
      icon="pi pi-info-circle"
      >
      {{ t("thisGalleryIsEmpty") }}
    </p-message>
  }
  <p-confirmPopup></p-confirmPopup>
</ng-container>
