<p-select
  [options]="languages"
  [disabled]="disabled"
  [placeholder]="placeholder"
  [ngModel]="value"
  (onChange)="onSelect($event.value)"
  appendTo="body"
>
  <ng-template #selectedItem let-code>
    <div class="language-option">
      <img [src]="getFlagSrc(code)" alt="" class="flag"/>
      @if (!noLabel) {
        <span>{{ code | transloco }}</span>
      }
    </div>
  </ng-template>
  <ng-template let-code #item>
    <div class="language-option">
      <img [src]="getFlagSrc(code)" alt="" class="flag"/>
      @if (!noLabel) {
        <div class="ml-2 inline-block">{{ code | transloco }}</div>
      }
    </div>
  </ng-template>
</p-select>

