lc-tick-button {
  button > span {
    display: flex;
  }

  .ticked {
    color: var(--ticked-color)
  }

  .hide-label .p-button-label {
    display: none;
  }

  p-button.disabled {
    opacity: 1 !important;

    button:disabled {
      opacity: 1 !important;
    }
  }

  .ticked-icon{
    background-color: var(--green-600);
    border-radius: .25rem;
    padding: .1rem;
    color: white
  }

}
