:host {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.left-label {
  position: absolute;
  font-weight: bold;
  margin-left: -0.5715rem;
}

.right-label {
  position: absolute;
  font-weight: bold;
  margin-right: -0.5715rem;
}

.hidden {
  display: none;
}
