<ng-container *transloco="let t; read: 'changeEmail'">
  <div class="auth-container">
    <div class="card login-card">
      <h3>{{ t("changeEmailTitle") }}</h3>

      @if (loading) {
        <p-progressSpinner
          ariaLabel="loading"
        ></p-progressSpinner>
      }

      @if (!loading && !error) {
        <p-message
          severity="success"
          text="{{ t('emailChangedSuccessfully') }}"
          >
        </p-message>
      }

      @if (!loading && error) {
        <p-message
          severity="error"
          text="{{ t('emailChangeError') }}"
          >
        </p-message>
      }

      @if (!loading && !error) {
        <p-button
          label="{{ t('takeMeToTheRock') }}"
          routerLink="/topo"
        ></p-button>
      }
    </div>
  </div>
</ng-container>
