<ng-container *transloco="let t; read: 'searchDialog'">
  <!-- t(BOULDER) -->
  <!-- t(SPORT) -->
  <!-- t(TRAD) -->

  @if (searchable.line) {
    <div
      class="search-result"
      [routerLink]="disableNavigation ? null : searchable.line.routerLink"
    >
      <div class="grade-circle">
        @if ((lineGradeValue() | async) > 0) {
          {{ searchable.line | lineGrade }}
        }
        @if ((lineGradeValue() | async) === 0) {
          {{ t("gradeCircleNotGraded") }}
        }
        @if ((lineGradeValue() | async) < 0) {
          {{ t("gradeCircleProject") }}
        }
      </div>
      <div class="search-result-description">
        <div class="search-result-name">{{ searchable.line.name }}</div>
        <div class="search-result-meta">
          <b>{{ t(searchable.line.type) }}</b
          >, {{ searchable.line.area.name
          }}<!--
            -->
          @if (searchable.line.area.sector.slug !== environment.skippedSlug) {
            , {{ searchable.line.area.sector.name }}
          }
          <!--
            -->
          @if (
            searchable.line.area.sector.crag.slug !== environment.skippedSlug
          ) {
            , {{ searchable.line.area.sector.crag.name }}
          }
        </div>
      </div>
    </div>
  }
  @if (searchable.area) {
    <div
      class="search-result"
      [routerLink]="disableNavigation ? null : searchable.area.routerLink"
    >
      <p-avatar
        [image]="
          searchable.area.portraitImage
            ? searchable.area.portraitImage.thumbnailS
            : 'assets/placeholder.png'
        "
        styleClass="mr-2"
        size="normal"
        shape="circle"
      ></p-avatar>
      <div class="search-result-description">
        <div class="search-result-name">{{ searchable.area.name }}</div>
        <div class="search-result-meta">
          <b>{{ t("area") }}</b
          ><!--
            -->
          @if (searchable.area.sector.slug !== environment.skippedSlug) {
            , {{ searchable.area.sector.name }}
          }
          <!--
            -->
          @if (searchable.area.sector.crag.slug !== environment.skippedSlug) {
            , {{ searchable.area.sector.crag.name }}
          }
        </div>
      </div>
    </div>
  }
  @if (searchable.sector) {
    <div
      class="search-result"
      [routerLink]="disableNavigation ? null : searchable.sector.routerLink"
    >
      <p-avatar
        [image]="
          searchable.sector.portraitImage
            ? searchable.sector.portraitImage.thumbnailS
            : 'assets/placeholder.png'
        "
        styleClass="mr-2"
        size="normal"
        shape="circle"
      ></p-avatar>
      <div class="search-result-description">
        <div class="search-result-name">{{ searchable.sector.name }}</div>
        <div class="search-result-meta">
          <b>{{ t("sector") }}</b
          ><!--
            -->
          @if (searchable.sector.crag.slug !== environment.skippedSlug) {
            , {{ searchable.sector.crag.name }}
          }
        </div>
      </div>
    </div>
  }
  @if (searchable.crag) {
    <div
      class="search-result"
      [routerLink]="disableNavigation ? null : searchable.crag.routerLink"
    >
      <p-avatar
        [image]="
          searchable.crag.portraitImage
            ? searchable.crag.portraitImage.thumbnailS
            : 'assets/placeholder.png'
        "
        styleClass="mr-2"
        size="normal"
        shape="circle"
      ></p-avatar>
      <div class="search-result-description">
        <div class="search-result-name">{{ searchable.crag.name }}</div>
        <div class="search-result-meta">
          <b>{{ t("crag") }}</b>
        </div>
      </div>
    </div>
  }
  @if (searchable.user) {
    <div
      class="search-result"
      [routerLink]="disableNavigation ? null : searchable.user.routerLink"
    >
      <p-avatar
        [image]="
          searchable.user.avatar
            ? searchable.user.avatar.thumbnailS
            : 'assets/user.png'
        "
        styleClass="mr-2"
        size="normal"
        shape="circle"
      ></p-avatar>
      <div class="search-result-description">
        <div class="search-result-name">{{ searchable.user.fullname }}</div>
        <div class="search-result-meta">
          <b>{{ t("user") }}</b>
        </div>
      </div>
    </div>
  }
</ng-container>
