<ng-container *transloco="let t, read: 'sector.sectorForm'">

  <div class="content">

    <p-card header="{{editMode ? t('editSectorTitle') : t('createSectorTitle')}}">
      <p class="mt-0" *ngIf="!editMode">
        {{t('createSectorDescription')}}
      </p>

      <form [formGroup]="sectorForm" lcForm>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('sectorNameLabel')}}</label>
          <input type="text" pInputText formControlName="name" placeholder="{{t('sectorNamePlaceholder')}}"
                 lcFormControl/>
          <small class="p-error" *lcIfError="'required'">{{t('required')}}</small>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('sectorShortDescriptionLabel')}}</label>
          <p-editor formControlName="shortDescription" lcFormControl placeholder="{{t('sectorShortDescriptionPlaceholder')}}"
                    [style]="{ height: '200px' }" [readonly]="loadingState === loadingStates.INITIAL_LOADING">
            <ng-template pTemplate="header">
              <span class="ql-formats">
                  <button type="button" class="ql-bold" aria-label="Bold"></button>
                  <button type="button" class="ql-italic" aria-label="Italic"></button>
                  <button type="button" class="ql-underline" aria-label="Underline"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" class="ql-link" aria-label="Link"></button>
              </span>
            </ng-template>
          </p-editor>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('sectorDescriptionLabel')}}</label>
          <p-editor formControlName="description" lcFormControl placeholder="{{t('sectorDescriptionPlaceholder')}}"
                    [modules]="quillModules"
                    [style]="{ height: '200px' }" [readonly]="loadingState === loadingStates.INITIAL_LOADING">
            <ng-template pTemplate="header">
              <span class="ql-formats">
                  <button type="button" class="ql-bold" aria-label="Bold"></button>
                  <button type="button" class="ql-italic" aria-label="Italic"></button>
                  <button type="button" class="ql-underline" aria-label="Underline"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" value="ordered" class="ql-list" aria-label="Ordered List"></button>
                  <button type="button" value="bullet" class="ql-list" aria-label="Unordered List"></button>
              </span>
              <span class="ql-formats">
                  <button type="button" class="ql-link" aria-label="Link"></button>
                  <button type="button" class="ql-image" aria-label="Image"></button>
              </span>
            </ng-template>
          </p-editor>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('sectorPortraitImageLabel')}}</label>
          <lc-single-image-upload lcFormControl formControlName="portraitImage"></lc-single-image-upload>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('latLabel')}}</label>
          <input type="text" pInputText formControlName="lat" placeholder="{{t('latPlaceholder')}}"
                 lcFormControl/>
          <small class="p-error" *lcIfError="'invalidLat'">{{t('invalidLat')}}</small>
        </div>

        <div class="flex flex-column gap-2" lcControlGroup>
          <label class="form-label">{{t('lngLabel')}}</label>
          <input type="text" pInputText formControlName="lng" placeholder="{{t('lngPlaceholder')}}"
                 lcFormControl/>
          <small class="p-error" *lcIfError="'invalidLng'">{{t('invalidLng')}}</small>
        </div>

      </form>

      <div class="form-actions">
        <p-button label="{{t('createSectorButtonLabel')}}" (click)="saveCrag()" icon="pi pi-plus"
                  [loading]="loadingState === loadingStates.LOADING" *ngIf="!editMode"></p-button>
        <p-button label="{{t('editSectorButtonLabel')}}" (click)="saveCrag()" icon="pi pi-plus"
                  [loading]="loadingState === loadingStates.LOADING" *ngIf="editMode"></p-button>
        <p-button label="{{t('cancelButtonLabel')}}" (click)="cancel()" class="ml-3"
                  styleClass="p-button-secondary" icon="pi pi-ban"></p-button>
        <p-button label="{{t('deleteSectorButtonLabel')}}" (click)="confirmDeleteSector($event)" icon="pi pi-trash"
                  styleClass="p-button-danger" class="ml-3"
                  [loading]="loadingState === loadingStates.LOADING" *ngIf="editMode"></p-button>
        <p-confirmPopup></p-confirmPopup>
      </div>

    </p-card>

  </div>

</ng-container>
