:host {
  display: inline-flex;
  align-items: center;

  ::ng-deep .p-chip {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    line-height: 1;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
  }

  ::ng-deep .p-chip-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    line-height: 1;
    width: 0.75rem;
    height: 0.75rem;
    margin: 0;
  }

  ::ng-deep .p-chip-label {
    line-height: 1;
  }

  ::ng-deep .p-chip.clickable {
    cursor: pointer;
  }
}
