:host{
  width: 100%;
  display: block;
}

.grade-distribution-tags{
  flex-wrap: wrap;
  p-tag{
    white-space: nowrap;
  }
}

.grade-distribution-stack{

  border-radius: 6px;
  overflow: hidden;
  display: flex;
  height: 2rem;

  div{
    padding: .25rem;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 700;
    display: inline-flex;
    white-space: nowrap;
    min-width: fit-content;
    justify-content: center;
    align-items: center;
  }

}
