@if (previewEnabled) {
  <p-image
    [src]="previewImageUrl"
    [preview]="true"
    [previewImageSrc]="previewImageUrl"
    [alt]="ariaLabel"
    imageClass="lc-user-avatar-preview-thumb"
    [styleClass]="previewStyleClass"
  >
    <ng-template #indicator>
      <i class="pi pi-eye"></i>
    </ng-template>
  </p-image>
} @else if (imageUrl) {
  <p-avatar
    [image]="imageUrl"
    [size]="size"
    shape="circle"
    [styleClass]="styleClass"
    [attr.aria-label]="ariaLabel"
  />
} @else {
  <p-avatar
    [label]="initials"
    [style]="gradientStyle"
    [size]="size"
    shape="circle"
    [styleClass]="fallbackClasses"
    [attr.aria-label]="ariaLabel"
  />
}
