<div class="content">
  <p-card header="{{ area?.name }}">
    <div class="flex gap-1">
      @if (area?.closed) {
        <lc-closed-spot-tag></lc-closed-spot-tag>
      }
      @if (area?.secret) {
        <lc-secret-spot-tag></lc-secret-spot-tag>
      }
    </div>

    <p-breadcrumb
      class="max-w-full"
      [model]="breadcrumbs"
      [home]="breadcrumbHome"
    ></p-breadcrumb>

    @if (area) {
      <p-tabs
        [value]="tabsDirective.activeTabIndex()"
        scrollable
        lcSetActiveTab
        #tabsDirective="lcSetActiveTab"
        data-cy="area-tabs-menu"
        [items]="items"
        >
        <p-tablist>
          @for (tab of items; track $index) {
            @if (tab.visible) {
              <p-tab
                [value]="$index"
                [routerLink]="tab.routerLink"
                >
                <i [class]="tab.icon" style="font-size: 1rem"></i>
                {{ tab.label }}
              </p-tab>
            }
          }
        </p-tablist>
      </p-tabs>
    }

    <router-outlet name="areaContent"></router-outlet>
  </p-card>
</div>
