<div class="content">
  <p-card header="{{ area?.name }}">
    <div class="flex gap-1">
      <lc-closed-spot-tag *ngIf="area?.closed"></lc-closed-spot-tag>
      <lc-secret-spot-tag *ngIf="area?.secret"></lc-secret-spot-tag>
    </div>

    <p-breadcrumb
      class="max-w-full"
      [model]="breadcrumbs"
      [home]="breadcrumbHome"
    ></p-breadcrumb>

    <p-tabMenu
      [model]="items"
      [scrollable]="true"
      *ngIf="area"
      data-cy="area-tabs-menu"
    ></p-tabMenu>

    <router-outlet name="areaContent"></router-outlet>
  </p-card>
</div>
